@font-face
	font-display: swap
	font-family: "Assistant"
	src: url("../fonts/Assistant-Medium.woff2") format('woff2')

@font-face
	font-display: swap
	font-family: "Assistant"
	src: url("../fonts/Assistant-Bold.woff2") format('woff2')
	font-weight: bold

// Common states.

.serv-required, .ws-require
	display: none !important

.serv-available .serv-required, .ws-available .ws-required
	display: grid !important

.serv-available .wm-status svg
	fill: var(--good-color)

.online, .serv-available .offline
	display: none

.serv-available .online
	display: block

// Commons.

a
	color: var(--color1)

button, input, textarea, #label-open-file
	background-color: var(--color4)
	border: none
	box-sizing: border-box
	color: var(--color5)
	font-family: inherit
	font-size: 1em
	margin: 1px
	padding: 8px

button, #label-open-file
	color: var(--color1)
	cursor: pointer
	font-weight: bold
	&.--danger	
		background-color: var(--bad-color)
		color: #fff
	&:focus, &:hover
		opacity: 0.85

body
	--bad-color: #d22
	--color1: #234
	--color2: #F59561
	--color3: #fff
	--color4: #eee
	--color5: #222
	--good-color: #282
	align-items: center
	background-color: var(--color3)
	color: var(--color5)
	display: flex
	font-family: "Assistant", sans-serif
	font-size: 0.95em
	justify-content: center
	margin: 0
	position: fixed
	width: 100%
	&.--dark
		--bad-color: #f33
		--color1: #F59561
		--color2: #234
		--color3: #111
		--color4: #222
		--color5: #fff
		--good-color: #3f3

main
	box-sizing: border-box
	display: grid
	gap: 2px
	grid-template-rows: auto 1fr 1fr
	max-width: 100%
	min-width: 360px
	padding: 1px
	width: 100%
	&.--mw1024
		max-width: 1024px 
	&.--mw1280
		max-width: 1280px 
	&.--mw360
		max-width: 360px 
	&.--mw540
		max-width: 540px 
	&.--mw768
		max-width: 768px 

.wm-out, .wm-in
	display: flex
	flex-direction: column
	overflow-y: auto
	scroll-behavior: smooth
	scrollbar-color: var(--color1) var(--color4)
	scrollbar-width: thin

.wm-out
	margin-left: 1px
	padding: 0 10px

.wm-status // Show if connected or not to the API.
	position: fixed
	display: flex
	top: -5px
	left: 15px
	svg // Offline by default.
		fill: var(--bad-color)
		margin-right: 5px
		width: 15px
		
.wm-notice // Simple message, no action required
	position: fixed
	top: 0
	transform: translateY(-300px)
	&.--visible 
		background-color: var(--color3)
		box-sizing: border-box
		font-weight: bold
		margin: 0
		padding: 10px
		text-align: center
		transform: initial
		transition: transform 0.25s ease
		z-index: 1
		&.--good::before // Positive messages. 
			color: var(--good-color)
			content: "✔ "
		&.--bad::before // Negative messages.
			color: var(--bad-color)
			content: "✘ "

.wm-dial // Advanced message, requiring user action.
	display: none
	&.--visible 
		background-color: var(--color3)
		bottom: 0
		color: var(--color5)
		display: flex
		flex-direction: column
		left: 0
		overflow-y: auto
		padding: 10px
		position: fixed
		right: 0
		top: 0
		z-index: 1
		h2
			margin-top: 0
		> button // Close button.
			display: block
			margin-left: auto
		>div
			margin: auto
			max-height: 85vh
			width: 85%
			max-width: 500px
		label, input, textarea // Interactive elements.
			display: block
			margin: 10px 0
			width:  100%
			box-sizing: border-box
		ul
			padding-left: 10px
			list-style-type: none		
			li
				display: grid
				grid-template-columns: 30px 1fr
				button:last-child
					text-align: left		
				.private, .published
					font-weight: normal
					font-size: 0.85em
				.private 
					color: var(--bad-color)
				.published
					color: var(--good-color)

.wm-nav
	display: flex
	justify-content: flex-end
	> button // "Menu" button.
		padding: 8px 32px
	> div // Container for the other buttons.
		display: none
	&.--visible > div
		background-color: var(--color3)
		display: initial
		position: fixed
		button, label
			align-items: center
			display: grid
			gap: 5px
			grid-template-columns: 30px auto
			text-align: left
			width: 320px
			span // Symbols.
				color: var(--color5)
				font-size: 1.25em
				font-weight: normal
				text-align: center
		button:nth-child(8) // "Adjust width" button.
			display: none
			@media screen and (min-width: 768px)
				display: grid	
		button:last-of-type // WordsMatter credits.
			font-weight: normal
			gap: 10px
			grid-template-columns: 50px auto
			line-height: 20px 
			img
				width: 50px
				display: block
		input // "Import from .txt file" button.
			position: absolute
			top: -100vh

.wm-in // Post edition
	&__content
		display: flex
		flex-direction: column
	&__config
		padding: 10px
		summary
			font-weight: bold
			color: var(--color1)
		label
			position: initial !important
			display: block
			margin: 15px 10px 10px 10px
		label:last-child
			display: flex
			flex-direction: row-reverse
			justify-content: start
		input
			display: block
			margin-right: 5px
			max-width: 125px
	// Writing zone.
	label
		left: -9999px
		position: absolute
	textarea
		grid-area: content
		min-height: 150px 
		resize: vertical
		scrollbar-color: var(--color1) var(--color4)
		scrollbar-width: thin
	&__section
		display: grid
		grid-template-areas: "title title title" "but but content" "but but content" "but but content" "but but content" "but but content" "but but content"
		grid-template-columns: repeat(2, 40px) 1fr
		input // Target input h2
			grid-area: title