/* --- resources --- */

	@font-face {
		font-display: swap;
		font-family: "Assistant";
		src: url("../fonts/Assistant-Medium.woff2") format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: "Assistant";
		src: url("../fonts/Assistant-Bold.woff2") format('woff2');
		font-weight: bold;
	}

/* --- commons --- */

	img {
		display: block;
		margin: auto;
		width: 100%;
	}

	figcaption { 
		text-align: center; 
	}

	a { 
		color: var(--color1);
	}

	button, input, textarea, #label-open-file {
		background-color: var(--color4);
		border: none;
		box-sizing: border-box;
		color: var(--color5);
		font-family: inherit;
		font-size: 1em;
		margin: 1px;
		padding: 8px;
	}

	button, #label-open-file {
		color: var(--color1);
		cursor: pointer;
		font-weight: bold;
	}

	.danger {	
		background-color: var(--bad-color);
		color: #fff;
	}

	button:hover, #label-open-file:hover { 
		opacity: 0.75;
	}

/* --- body --- */

	/* body | body */

		body {
			--bad-color: #d22;
			--color1: #234;
			--color2: #F59561;
			--color3: #fff;
			--color4: #eee;
			--color5: #222;
			--good-color: #282;
			align-items: center;
			background-color: var(--color3);
			color: var(--color5);
			display: flex;
			font-family: "Assistant", sans-serif;
			font-size: 0.95em;
			justify-content: center;
			margin: 0;
			position: fixed;
			width: 100%;
		}
	
	/* body | overwrite color scheme */
	
		.dark {
			--bad-color: #f33;
			--color1: #F59561;
			--color2: #234;
			--color3: #111;
			--color4: #222;
			--color5: #fff;
			--good-color: #3f3;
		}

	/* body | hide unusable features. Applied on elements */
	
		.serv-required, .ws-require {
			display: none !important;
		}

	/* body | reveal usable features. Applied on body and elements */
	
		.serv-available .serv-required, .ws-available .ws-required {
			display: grid !important;
		}

/* --- main --- */

	/* main | body */

		main {
			box-sizing: border-box;
			display: grid;
			gap: 2px;
			grid-template-rows: auto 1fr 1fr;
			min-width: 360px;
			padding: 1px;
			max-width: 100%;
			width: 100%;
		}

	/* main | limit max width */

		.mw1024 { max-width: 1024px; }
		.mw1280 { max-width: 1280px; }
		.mw360 { max-width: 360px; }
		.mw540 { max-width: 540px; }
		.mw768 { max-width: 768px; }

/* --- nav --- */

	/* nav | body */
	
		nav { 
			display: flex;
			justify-content: flex-end;
		}

		nav > div {
			background-color: var(--color3);
			position: fixed;
			transform: scale(0);;
		}

		nav.visible > div {
			transform: initial;
		}

	/* nav | symbols preceding buttons */
	
		.nav-button span {
			text-align: center;
			color: var(--color5);
			font-size: 1.25em;
			font-weight: normal;
		}

	/* nav | buttons */
	
		.nav-button, #label-open-file {
			align-items: center;
			display: grid;
			gap: 5px;
			grid-template-columns: 30px auto;
			text-align: left;
			width: 320px;
		}

	/* nav | "Menu" button */
	
		nav > button {
			display: flex;
			align-items: center;
			padding: 8px 32px;
		}

	/* nav | "button" import from file */

		nav input {		
			position: absolute;
			top: -100vh;
		}

	/* nav | button Awebsome */
	
		.nav-button:last-of-type {
			font-weight: normal;
			gap: 10px;
			grid-template-columns: 75px auto;
			line-height: 20px;
		}

/* --- status (show if connected or not to the API) --- */

	/* status | body */
	
		#status {
			position: fixed;
			display: flex;
			top: -5px;
			left: 15px;
		}

	/* status | offline */

		#status svg {
			fill: var(--bad-color);
			margin-right: 5px;
			width: 15px;
		}

		.online, .serv-available .offline {
			display: none;
		}
		
	/* status | online */

		.serv-available .online {
			display: block;
		}

		.serv-available #status svg {
			fill: var(--good-color);
		}

/* --- article --- */

	article {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		scroll-behavior: smooth;
		scrollbar-color: var(--color1) var(--color4);
		scrollbar-width: thin;
	}
	
	#output {
		background-color: var(--color3);
		margin-left: 1px;
		padding: 0 10px;
	}

/* --- #notice (simple message, no action required) --- */

	/* #notice | body */

		#notice {
			background-color: var(--color3);
			box-sizing: border-box;
			font-weight: bold;
			left: 0;
			margin: 0;
			padding: 10px;
			position: fixed;
			right: 0;
			text-align: center;
			top: 0;
			transform: translateY(-300px);
			transition: transform 0.25s ease;
			z-index: 2;
		}

		#notice.visible { 
			transform: initial;
		}

	/* #notice | positive messages */

		#notice.good::before {
			color: var(--good-color);
			content: "✔ ";
		}

	/* #notice | negative messages */
	
		#notice.bad::before {
			color: var(--bad-color);
			content: "✘ ";
		}

/* --- #dial (advanced message, requiring user action) --- */

	/* #dial | body */
	
		#dial {
			color: var(--color5);
			max-height: 85vh;
			max-width: 500px;
			overflow-y: auto;
			padding: 10px;
			position: absolute;
			transform: scale(0);
			width: 85%;
			z-index: 2;
		}

		#dial.visible { 
			transform: initial;
		}

		#dial>div {
			border-top: solid 1px var(--color1);
			margin-top: 10px;
		}

	/* #dial | close button */

		#dial > button {
			display: block;
			margin-left: auto;
		}

	/* #dial | interactive elements */
	
		#dial label, #dial input, #dial textarea {
			display: block;
			margin: 10px 0;
			width:  100%;
			box-sizing: border-box;
		}

	/* #dial | list of available posts for edition */
	
		#dial ul {
			padding-left: 10px;
			list-style-type: none;		
		}

		#dial li {
			display: grid;
			grid-template-columns: 30px 1fr;
		}

		#dial li button:last-child {
			text-align: left;		
		}

		.private, .published {
			font-weight: normal;
			font-size: 0.85em;
		}

		.private { 
			color: var(--bad-color);
		}
		.published {
			color: var(--good-color);
		}

/* --- #input --- */

	.input-section {
		display: grid;
		grid-template-areas:
		"title title title" 
		"but but content"
		"but but content"
		"but but content"
		"but but content"
		"but but content"
		"but but content";
		grid-template-columns: repeat(2, 40px) 1fr;
	}
	
	#input label {
		left: -9999px;
		position: absolute;
	}

	#input input { 
		grid-area: title;
	}

	textarea {
		grid-area: content;
		min-height: 150px; 
		resize: vertical;
		scrollbar-color: var(--color1) var(--color4);
		scrollbar-width: thin;
	}

/* --- responsive --- */

	@media screen and (max-width: 768px) {
		
		#bt-set-width {
			display: none;
		}

	}

	@media screen and (min-width: 768px) {
		
		#bt-set-width {
			display: grid;
		}

	}