/* resources */

	@font-face {
		font-display: swap;
		font-family: "Assistant";
		src: url("../fonts/Assistant-Medium.woff2") format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: "Assistant";
		src: url("../fonts/Assistant-Bold.woff2") format('woff2');
		font-weight: bold;
	}

/* containers */

	body {
		--bad-color: #f33;
		--color1: #F59561;
		--color2: #234;
		--color3: #111;
		--color4: #222;
		--color5: #fff;
		--good-color: #3f3;
		background-color: var(--color3);
		color: var(--color5);
		font-family: "Assistant", sans-serif;
		line-height: 25px;
		margin: 0;
	}

	main {
		margin: auto;
		max-width: 960px;
		padding: 30px;
	}

/* text */

	h1 {
		line-height: 40px;
		margin-top: 0;
		text-align: center;
	}
	
	h2 {
		margin-top: 30px;
	}

	h4 {
		margin-bottom: 0;
	}

	h4 + p {
		margin-top: 0;
	}

	p span {
		color: #999;
		display: block;
		font-style: italic;
	}

	p span:not(.h)::before {
		color: var(--bad-color);
		content: "!";
		padding-right: 5px;
	}

	.h { 
		color: var(--color1);
		display: inline;
		font-style: normal;
		font-weight: bold;
	}

	li {
		list-style-type: square;	
	}

	a {
		color: var(--color1);
	}

/* buttons */

	button {
		align-items: center;
		background-color: var(--color4);
		border: none;
		box-sizing: border-box;
		color: var(--color1);
		font-family: inherit;
		font-size: 1em;
		font-weight: bold;
		gap: 5px;
		margin-bottom: 10px;
		text-align: left;
	}

	.nav-bt {
		display: grid;
		grid-template-columns: 30px auto;
		margin-bottom: 15px;
		margin-top: 30px;
		width: 300px;
	}

	button span {
		color: var(--color5);
		font-size: 1.25em;
		font-weight: normal;
		text-align: center;
	}

/* medias */

	img {
		width: 100%;
		max-width: 100px;
		display: block;
		margin: 30px auto;
	}

	figure {
		margin: 30px auto;
		text-align: center;
		max-width: 360px;
	}
	svg {
		fill: var(--good-color);
		margin-bottom: 20px;
		width: 60px;
}

/* responsive */

	@media screen and (min-width: 768px) {
		
		h1 {
			text-align: left;
		}
		header {
			display: flex;
			align-items: center;
		}
		img {
			max-width: 150px;
			margin-right: 20px;
		}
		.nav-bt {
			width: 320px;
		}

	}