/* main containers */

	body {
		--color1: #F59561;
		--color2: #234;
		--color3: #111;
		--color4: #222;
		--color5: #fff;
		background-color: var(--color3);
		color: var(--color5);
		font-family: Arial, Helvetica, Liberation Sans, FreeSans, sans-serif;
		line-height: 21px;
		margin: 0;
	}
	main {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		margin: auto;
		max-width: 960px;
		min-height: 100vh;	
		padding: 0 20px;
	}
	main > div {
		flex: 1;
		min-width: 300px;
	}
	details[open] {
		background-color: var(--color3);
		bottom: 0;
		left: 0;
		overflow-y: scroll;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}
	details > div {
		margin: auto;
		max-width: 960px;
		padding: 0 20px 130px 20px;
	}

/* content */

	h1, h2, h3 ,h4 {
		line-height: 30px;
	}
	h3 {
		display: inline;
		font-size: 1em;
		margin: 0;
	}
	h4 {
		color:  var(--color1);
		display: inline-block;
		font-size: 1.5em;	
		margin-bottom: 5px;
	}
	h5 {
		font-size: 1.25em;
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		max-width: 300px;
	}
	ol {
		padding: 0;
	}
	ul {
		padding: 5px 30px;
	}
	ul li {
		margin-bottom: 5px;
		list-style-type: square;
	}
	ol > li {
		list-style-type: none;
	}
	.h { 
		color: var(--color1);
	}
	span:not(.h) {
		color: #999;
		display: block;
	}
	span:not(.h)::before {
		color: #f33;
		content: "!";
		padding-right: 5px;
	}
	a {
		color: var(--color1);
	}
	button, summary {
		background-color: var(--color4);
		border:  none;
		color: var(--color1);
		font-family: inherit;
		font-size: 1em;
		font-weight: bold;
		margin: 1px;
		padding: 8px;
	}
	details[open] summary {
		left: 0;
		padding: 20px;
		position: fixed;
		right: 0;
		text-align: center;
		bottom: 0;
		z-index: 1;
	}
	summary:hover { 
		background-color: var(--color2);
		color: var(--color1);
	}
	.danger {
		background-color: #f33;
		color: #fff;
		opacity: 0.85;
	}
	#desktop-logo {
		display: none;
	}

/* media queries */

	@media screen and (min-width: 768px) {
		#desktop-logo {
			display: initial;
		}
		#mobile-logo {
			display: none;
		}
		details > div {
			padding-bottom: 110px;
		}		
	}